<hr>
<form>
  <fieldset>
    <label for="email-order">Email: </label>
    <input id="email-order" name="email-order" type="email" required maxlength="5">
  </fieldset>

  <fieldset>
    <label for="firstname-order">Firstname: </label>
    <input id="firstname-order" name="firstname-order" type="text" required>
  </fieldset>

  <fieldset>
    <label for="lastname-order">Lastname: </label>
    <input id="lastname-order" name="lastname-order" type="text" required>
  </fieldset>

  <fieldset>
    <label for="password-order">Password: </label>
    <input id="password-order" name="password-order" type="password" required>
  </fieldset>

  <button type="submit">Registred</button>
</form>
